<div class="container">
    <form [formGroup]="patientForm" class="row g-3">

        <div class="col-md-6">
            <label for="firstName" class="form-label">Primer Nombre</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
        </div>

        <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>

        <div class="mb-3">
            <label for="gender" class="form-label">Document Type</label>
            <select id="gender" class="form-select" formControlName="documentTypeId">
                @for (document of documentTypeList; track $index) {
                <option value="{{document.id}}">{{ document.description }}</option>
                }
            </select>
        </div>

        <div class="col-md-6">
            <label for="docNumber" class="form-label">Document Number</label>
            <input type="text" class="form-control" id="docNumber" formControlName="documentNumber">
        </div>

        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select id="gender" class="form-select" formControlName="genderId">
                @for (gender of genderList; track $index) {
                <option value="{{gender.id}}">{{ gender.description }}</option>
                }
            </select>
        </div>

        <div class="col-12">
            <label for="inputdate" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="inputdate" formControlName="birhtDate">
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" formControlName="address">
        </div>

        <div class="col-12">
            <label for="contactNumber" class="form-label">Contact Number</label>
            <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary" (click)="addPatient()">Save</button>
        </div>
    </form>
</div>

<div class="container">
    <h2>Lista de Pacientes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tipo de Documento</th>
                <th>Número de Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Género</th>
                <th>Dirección</th>
                <th>Número de Contacto</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (patient of patients; track $index) {
            <tr>
                <td>{{ patient.documentTypeDescription }}</td>
                <td>{{ patient.documentNumber }}</td>
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.birhtDate | date: 'MM/dd/yyyy' }}</td>
                <td>{{ patient.genderDescription }}</td>
                <td>{{ patient.address }}</td>
                <td>{{ patient.contactNumber }}</td>
                <td>{{ patient.active ? 'Activo' : 'Inactivo' }}</td>
                <td>
                    <button class="btn btn-info btn-sm m-2" (click)="editPatient(patient)">Editar</button><br>
                    <button class="btn btn-danger btn-sm" (click)="deletePatient(patient.id)">Eliminar</button>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>